input{
  border: 1px solid black;
  padding: 20px;
  margin: 1.5%;
  width: 30%;
  height: 30%;
  display: inline-block;
  text-align: center;
}
.squares{
  font-size: 17em;
}
.well{
  width: 100%;
  min-width: 900px !important;
}
